@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed:ital,wght@1,700&display=swap');


body{      
    text-align: left;
    
}

.showTitle{
    font-family: "OSWALD&&Roboto Condensed",sans-serif;
    text-align:left;
    margin:2px;
}

.releaseYear
{
    text-align:left;
    margin: 10px;
}



.main-header
{
    width: 1400px;
    border-bottom: 2px solid #000;
    margin-bottom: 2px;
    background-color: #eacaee;
}

.top-stories
{
    width: 1400px;
    background-color: #f3ebf2;
    opacity: 0.8; 
    position: absolute;
}

.showContent{
    width: 421px;
    border: 2px solid #000;
    height:400px
}

.showImage
{
    float:left;
    width: 220px;
    height: 380px;
    margin:2px;
} 


.flex-container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style : none;
}

.flex-item
{
    width: 401px;
    height:400px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.site-title
{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    display: inline;
    text-align: left;
    color:rgb(206, 9, 224);
}

.showDescription
{
    text-align: left;
}

.background-image{
    position:fixed; 
    left: 0;
    right: 0;
    display:inline-block;
    background-image: url('./img/3.jpg');
    width: 100%;
    height:100%;
    filter: blur(1px);
    background-position:center !important;
    background-size: cover !important;
    z-index: -1;
}

.my-input
{
    margin-left: 1000px;
    width:300px;
    height:30px;
    margin-bottom: 5px;
    /* margin-bottom: 2px; */
}

.noShow{
    display: none;
}

.moviePage{
    list-style-type: none;
    /* text-align: top; */
    margin: 0;
    padding: 0;
}

.moviePage li{
    font-family: "OSWALD&&Roboto Condensed",sans-serif;
    display: inline-block;
    word-wrap: break-word;
    max-width:500px;
    margin:10px;
}

.titlePageHead{
    font-size: 3rem;
    text-align: top;
    margin-right:0px;
    word-wrap: break-word;
    width: 300px;
}

.titleImage{
    width: 220px;
    height: 380px;
    margin:2px;
    vertical-align: middle;
}

.releaseDate{
    font-size: 2em;
    width:150px;
}

.rating{
    font-size: 2em;
    width: 100px;
    padding: 2px;
}

.trailerVideo{
    width:1000px;
    height:800px;
    z-index:2;
}